<form [formGroup]="form" (ngSubmit)="validateForm()">
    <fieldset>
        <legend>Ajout d'un voyage</legend>
        <div>
            <label for="typeVoyage">Type de voyage : </label>
            <select id="typeVoyage" name="typeVoyage" formControlName="typeVoyage">
                @for (typeV of listTypesVoyage; track typeV) {
                    <option [value]="typeV">{{ typeV | titlecase }}</option>
                }
            </select>
            @if (form.get('typeVoyage')?.dirty && form.get('typeVoyage')?.errors) {
                <p class="error">Le type de voyage est obligatoire !</p>
            }
        </div>

        @if (form.get('typeVoyage')!.value != 'avion') {
            <div>
                <p>Type de carburant : </p>
                @if (form.get('typeVoyage')!.value === 'voiture') {
                    <input type="radio" id="typeCarburant1" name="typeCarburant" formControlName="typeCarburant" value="essence">
                    <label for="typeCarburant1">Essence</label>
                    <br> 
                }
                <input type="radio" id="typeCarburant2" name="typeCarburant" formControlName="typeCarburant" value="diesel">
                <label for="typeCarburant2">Diesel</label>
                <br>
                @if (form.get('typeVoyage')!.value === 'train') {
                    <input type="radio" id="typeCarburant3" name="typeCarburant" formControlName="typeCarburant" value="electricite">
                    <label for="typeCarburant3">Electricité</label>
                }
                @if (form.get('typeCarburant')?.dirty && form.get('typeCarburant')?.errors) {
                    <p class="error">Le type de carburant est obligatoire !</p>
                }
            </div>
        }

        <div>
            <label for="distanceKm">Distance : </label>
            <input type="number" id="distanceKm" name="distanceKm" formControlName="distanceKm" min="0">
            @if (form.get('distanceKm')?.dirty && form.get('distanceKm')?.errors) {
                <p class="error">La distance doit être supérieure à 0 !</p>
            }
        </div>
        @if (form.value.typeVoyage === 'voiture') {
            <div>
                    <label for="consommationPour100Km">Consommation pour 100 km : </label>
                    <input type="number" id="consommationPour100Km" name="consommationPour100Km" formControlName="consommationPour100Km" min="0">
                    @if (form.get('consommationPour100Km')?.dirty && form.get('consommationPour100Km')?.errors) {
                        <p class="error">La consommation doit être supérieure à 0 !</p>
                    }
            </div>
        }
        <div>
            <label for="dateVoyage">Date : </label>
            <input type="date" id="date" name="date" formControlName="dateVoyage">
            @if (form.get('dateVoyage')?.dirty && form.get('dateVoyage')?.errors) {
                <p class="error">La date est obligatoire !</p>
            }
        </div>
        <div>
            <button type="submit" matButton="filled" [disabled]="form.invalid">Ajouter un voyage</button>
        </div>
    </fieldset>
</form>