*{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
div {
    text-align: center;
    padding: 10px;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }